*{
    margin: 0;
    padding: 0;
}
.sideBar{
    background-color: #087e74;
    width: 20%;
    height: 739px;
    position: fixed;
}
a{
    text-decoration: none;
}
.sideBar p{
    padding-top: 50px;
    color: #fff;
    padding-left: 50px;
}
.admin{
    display: flex;
}
.product-details{
    display: grid;
    grid-template-columns: auto auto auto;
    margin-left: 350px;
}
.product-details img{
    width: 85%;
    height: 90%;
}